body {
  background: #ffbd59; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffa751,
    #d4f541
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffa751,
    #d0f13a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 